Source: bell-scheduler
Section: python
Priority: optional
Maintainer: Equipo LliureX <lliurex@gva.es> 
Build-Depends: debhelper (>=10),
               dh-python,
               python3-setuptools,
               python3-all,
               python3-poinstaller,
               llxsrchelper,
               zero-dev,
               pybuild-plugin-pyproject
Standards-Version: 4.1.2
Homepage: http://lliurex.net
Vcs-Browser: https://svn.lliurex.net/jammy/bell-scheduler

Package: bell-scheduler
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}, n4d-bellscheduler (= ${binary:Version}),n4d-qt-agent,python3-n4d-client,python3-holidaymanager, ffmpeg,pyside6-tools, python3-pyside6.qtqml, python3-pyside6.qtwidgets, python3-pyside6.qtquick,python3-pyside6.qtgui,python3-pyside6.qtquickwidgets
Recommends: bell-scheduler-zerocenter-files(= ${binary:Version}),bell-scheduler-indicator(> 0.14.58)
Description:Bell Schededuler GUI package
  Provides the gui to program alarms


Package: n4d-bellscheduler
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}, n4d
Description: Bell Scheduler plugin
  Plugins supporting bell-scheduler functionality 

Package: bell-scheduler-zerocenter-files
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, zero-center
Replaces: bell-scheduler (<=0.3.7)
Conflicts: bell-scheduler (<=0.3.7)
Description: Files to zero-center 
 Provides files to zero-center: app, zmd and banner files.

