[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Bell Scheduler
Name[es]=Bell Scheduler
Name[ca_ES@valencia]=Bell Scheduler
Name[ca@valencia]=Bell Scheduler
Name[ca]=Bell Scheduler
Name[ca_ES.UTF-8@valencia]=Bell Scheduler
Comment=Program the alarms of the educational centers for the entrance, exit, recreation
Comment[es]=Programaa las alarmas de los centros educativos para la entrada, salida, recreo
Comment[ca_ES@valencia]=Programa les alarmes dels centres educatius per a l'entrada, eixida, recreo
Comment[ca@valencia]=Programaa les alarmes dels centres educatius per a l'entrada, eixida, recreo
Comment[ca]=Pograma les alarmes dels centres educatius per a l'entrada, eixida, recreo
Comment[ca_ES.UTF-8@valencia]=Programa les alarmes dels centres educatius per a l'entrada, eixida, recreo
GenericName=Bell Scheduler
Type=Application
Exec=bell-scheduler 
TryExec=bell-scheduler
Icon=bell-scheduler
Terminal=false
StartupNotify=true
Categories=GNOME;GTK;Utility;System;

