	@define-color arc-blue #0062f5;
	@define-color arc-blue-light #4accf5;
	@define-color arc-black #2d323d;
	@define-color arc-red #000000;
	@define-color arc-blue-hover #629de2;
	@define-color arc-blue-active #3aa3e2;
	@define-color default-grey #666666;


	GtkLabel {
		font: 12pt Roboto;
	}

	#BANNER_BOX{
		background-color: #0049ab;


	}
	#OPTION_LABEL {
		color: #707070;
		font: 12pt Roboto Light;

	}

	#SOUND_PATH_LABEL {
		color: #707070;
		font: 11pt Roboto Light;

	}

	#TIME_LABEL{
		color: #3366cc;
		font: 44pt Roboto Bold;


	}

	#TIME_LABEL_ON{
		color: @arc-blue-light;
		font: 44pt Roboto Bold;


	}
	#DAY_LABEL_ON{
		color: #3366cc;
		font: 18pt Roboto Bold;

	}

	#DAY_LABEL_OFF{
		color: #A0A0A0;
		font: 18pt Roboto;

	}

	#BELL_DESCRIPTION{
		color: #000;
		font: 18pt Roboto;

	}

	#BELL_ERROR_SOUND{
		color: #CC0000;
		font: 10pt Roboto Italic;

	}
	
	#BELL_SOUND{
		color: #3366cc;
		font: 11pt Roboto Italic;

	}
	
	#DELETE_ITEM_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #db3237;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#db3237),  to (#db3237));
			text-shadow: none;
			
	}
		
	#DELETE_ITEM_BUTTON:hover {
		border-color: #e56f73;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#e56f73),  to (#e25a5e));
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}

	#EDIT_ITEM_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #4784ed;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#4784ed),  to (#4784ed));
			text-shadow: none;
			
	}
		
	#EDIT_ITEM_BUTTON:hover {
		border-color: #7ea8f2;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#7ea8f2),  to (#7ea8f2));
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}

	#WAITING_LABEL{

		color: #3366cc;
		font: 11pt Roboto Bold;
			
	}	

	#EDIT_LABEL{

		color: @arc-blue;
		/*color: #3366cc;*/
		font: 12pt Roboto Bold;
			
	}
	
	#NOTE_LABEL{

		/*color: #3366cc;*/
		color: @arc-blue;
		font: 9pt Roboto Bold;
			
	}

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: 11pt Roboto Bold; 
	}
	
	#MSG_CORRECT_LABEL {
			color: #43a047;
			font: 11pt Roboto Bold;

	}

	#LOADING_ERROR_LABEL{
		color: #000000;
		font: 11pt Roboto Bold;
	}
		
    #WINDOW{
		
		background-color: #f1f1f1;
		
	}

	#BELL_LIST{
		background-color: #ffffff;

	}

	
	#APP_BOX {
		background-color: #ffffff;
		/*box-shadow: -0.5px 3px 2px #cdcdcd;*/

	}

	#APP_ERROR_BOX {
		background-color: #ffa64c;
		/*box-shadow: -0.5px 3px 2px #cdcdcd;*/
	}
	

	@keyframes selected{
		0%{ background-color: #ffffff; }
		25%{ background-color: #43a047; }
		50%{ background-color: #8ec690;}
		75%{ background-color: #43a047;}
		100%{ background-color: #ffffff; }
	}

	#CHANGE_BOX{
		/*box-shadow: -0.5px 3px 2px #cdcdcd;*/
		animation-name: selected;
		animation-duration: 2s;
		animation-timing-function: ease;
		animation-iteration-count: 1;
		background-color: #ffffff;
	}
	
	#APP_BOX:hover {
		/*ox-shadow: -0.5px 3px 2px #cacaca;*/
	}
	
	#TITLE {
		
			color:#3366cc;
			font: 18pt Roboto;
		}
	
		
	#ROBOTO_MEDIUM_GRAY{
			color: #A0A0A0;
			font: 14pt Roboto;
		}

	#POPOVER_OFF {
		color: #707070;

	}	

	#POPOVER_ON{

		color: #3366cc;

	}

	#POPOVER_SEPARATOR{

		color: #b3b3b3;

	}

	#ITEM_LIST {
		background-image:-gtk-gradient (linear,	0 0, 0 1, 
			
				color-stop(0, rgba(255,255,255,1)),
				color-stop(0.1, rgba(255,0,0,1)),
				color-stop(0.2, rgba(0,255,0,1)),
				color-stop(0.3, rgba(0,0,255,1)),
				color-stop(0.4, rgba(255,255,0,1)),
				color-stop(0.5, rgba(255,0,255,1)),
				color-stop(0.6, rgba(0,255,255,1)),
				color-stop(0.7, rgba(0,0,0,1)),
				
				color-stop(1, rgba(255,255,255,1))
			);
	}

	#CARD-ITEM
	{
		/*background-color: rgba(255,120,120,1);*/
		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color: #bec0c1;
		background: #ffffff;

	}

	#CARD-ITEM:hover
	{	
		
		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color: #bec0c1;
		background: #ffffff;
	}

	#CARD-ITEM:active
	{	
		
		background-color: @arc-blue;
	}

	#CARD-ITEM:active .label
	{
		
		color: white;
	}


	#CUSTOM-ENTRY
	{
		color: @default-grey;
		border:  1px solid #aaaaaa;
		/*border-radius: 5px;*/
		/*background-color: @arc-blue;*/
		/*border-bottom: 1px solid #aaaaaa;*/
		padding: 4px;
		/*background: #eeeeee;*/
		
		/*border-bottom: 2px solid transparent;*/
	
	}

	#CUSTOM-ENTRY:focus
	{
		color: @arc-blue;
		border:1px solid @arc-blue-light;
		/*border-bottom: 1px solid @arc-blue-light;*/
		/*border-bottom: 2px solid rgba(0,0,0,0);*/
		/*background-color: transparent;*/
		
	
	}
	#CUSTOM-ENTRY:selected
	{
		color: white;
	}

	#CUSTOM-ENTRY:disabled
	{
		background-color: #bbbbbb;
		border:1px solid transparent;
		/*border-bottom: 1px solid transparent;*/
		color: #999999;
	}



	#IMAGE_BOX {
		/* t r b l*/
		border-color: red;
		margin: 6px;
		border-top: 6px;
		border-bottom: 6px;

		border-radius: 0px;
		border: none;
		box-shadow: none;

		background-color: #ffffff;

	}


	#IMAGE_BOX_HOVER {
		/*padding: 6px 6px 6px 6px;*/
		
		margin-left:6px;
		margin-right:6px;
		border-radius: 0px;
		
		border-color:transparent;
		background-color: #ffffff;
		/*box-shadow: -1px 0px -1px 8px @arc-blue;*/
		/*box-shadow: 0px 0px 10px @arc-blue;*/
		box-shadow: 0px 0px 10px @arc-blue;
		
	}

	#ERROR_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#da4453;
		background:#ebced2;
	}

	#SUCCESS_BOX{

		border-style:solid;
		border-width: 1px;
		border-radius: 0px;
		border-color:#27ae60;
		background:#c7e3d4;
	}

	#HIDE_BOX{

		border-style:none;
		border-width: 0px;
		border-radius: 0px;
		border-color:transparent;
		background:transparent;
	}

	#SEPARATOR{
		
		background-color: #b3b3b3;

	}

	#WHITE_SEPARATOR{
		
		background-color: #ffffff;

	}