
	GtkLabel {
		font: Roboto;
	}
	
	#OPTION_LABEL {
		color: #707070;
		font: Roboto Light;

	}

	#TIME_LABEL{
		color: #3366cc;
		font: Roboto Bold 44;


	}
	#DAY_LABEL_ON{
		color: #3366cc;
		font: Roboto Bold 18;

	}

	#DAY_LABEL_OFF{
		color: #A0A0A0;
		font: Roboto 18;

	}

	#BELL_DESCRIPTION{
		color: #000;
		font: Roboto 18;

	}

	#BELL_ERROR_SOUND{
		color: #CC0000;
		font: Roboto Italic 10;

	}
	
	#BELL_SOUND{
		color: #3366cc;
		font: Roboto Italic 11;

	}
	
	#DELETE_ITEM_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #db3237;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#db3237),  to (#db3237));
			text-shadow: none;
			
	}
		
	#DELETE_ITEM_BUTTON:hover {
		border-color: #e56f73;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#e56f73),  to (#e25a5e));
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}

	#EDIT_ITEM_BUTTON {
			border-width: 5px;
			border-radius: 0px;
			padding: 0px 0px;
			box-shadow: none;
			border-color: #4784ed;
			
			color: white;
			background-image:-gtk-gradient (linear,	left top, left bottom, from (#4784ed),  to (#4784ed));
			text-shadow: none;
			
	}
		
	#EDIT_ITEM_BUTTON:hover {
		border-color: #7ea8f2;
		background-image:-gtk-gradient (linear,	left top, left bottom, from (#7ea8f2),  to (#7ea8f2));
		box-shadow: -0.5px 3px 3px #aaaaaa;
	}

	#WAITING_LABEL{

		color: #3366cc;
		font: Roboto Bold 11;
			
	}	

	#EDIT_LABEL{

		color: #3366cc;
		font: Roboto Bold 12;
			
	}
	
	#NOTE_LABEL{

		color: #3366cc;
		font: Roboto Bold 9;
			
	}

	#MSG_ERROR_LABEL {

		color: #CC0000;
		font: Roboto Bold 11; 
	}
	
	#MSG_CORRECT_LABEL {
			color: #43a047;
			font: Roboto Bold 11;

	}
		
    #WINDOW{
		
		background-color: #f1f1f1;
		
	}

	
	#APP_BOX {
		background-color: #ffffff;
		box-shadow: -0.5px 3px 2px #cdcdcd;
	}

	#ERROR_BOX {
		background-color: #ffa64c;
		box-shadow: -0.5px 3px 2px #cdcdcd;
	}
	
	#BANNER_BOX {
		 background: #005cd2;
    	 background: linear-gradient(to right, #005cd2 , #69abff);


	}

	@keyframes selected{
		0%{ background-color: #ffffff; }
		25%{ background-color: #43a047; }
		50%{ background-color: #8ec690;}
		75%{ background-color: #43a047;}
		100%{ background-color: #ffffff; }
	}

	#CHANGE_BOX{
		box-shadow: -0.5px 3px 2px #cdcdcd;
		animation-name: selected;
		animation-duration: 2s;
		animation-timing-function: ease;
		animation-iteration-count: 1;
		background-color: #ffffff;
	}
	
	#APP_BOX:hover {
		box-shadow: -0.5px 3px 2px #cacaca;
	}
	
	#TITLE {
		
			color:#3366cc;
			font: Roboto 18;
		}
	
		
	#ROBOTO_MEDIUM_GRAY{
			color: #A0A0A0;
			font: Roboto 14;
		}

	#POPOVER_OFF .label {
		color: #707070;

	}	

	#POPOVER_ON .label{

		color: #3366cc;

	}

	#POPOVER_SEPARATOR{

		color: #b3b3b3;

	}

	#ITEM_LIST {
		background-image:-gtk-gradient (linear,	0 0, 0 1, 
			
				color-stop(0, rgba(255,255,255,1)),
				color-stop(0.1, rgba(255,0,0,1)),
				color-stop(0.2, rgba(0,255,0,1)),
				color-stop(0.3, rgba(0,0,255,1)),
				color-stop(0.4, rgba(255,255,0,1)),
				color-stop(0.5, rgba(255,0,255,1)),
				color-stop(0.6, rgba(0,255,255,1)),
				color-stop(0.7, rgba(0,0,0,1)),
				
				color-stop(1, rgba(255,255,255,1))
			);
	}
